<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">
 
	<bean id="com.bookmarkmanager.controller.BookmarkController" 
		class="com.bookmarkmanager.controller.BookmarkController">
		<property name="bookmarkRepository" ref="com.bookmarkmanager.repository.BookmarkRepositoryImpl"/>
	</bean>
	<bean id="com.bookmarkmanager.repository.BookmarkRepositoryImpl" 
		class="com.bookmarkmanager.repository.BookmarkRepositoryImpl">
	</bean>
	<bean id="com.bookmarkmanager.init.DataInitializer" 
		class="com.bookmarkmanager.init.DataInitializer" 
		init-method="initBookmarks">
		<property name="bookmarkRepository" ref="com.bookmarkmanager.repository.BookmarkRepositoryImpl"/>
	</bean>
	
</beans>